<div class="create-projects" @fadeInOut>
  <p-card >
    <div class="div-main">
    <div>
        <h1> Gerenciador de Projetos </h1>
    </div>
    <div class="div-elements">
         <input type="text " pInputText placeholder="Nome do projeto" maxlength="15" [(ngModel)]="nomeProjeto" >
    </div>
    <div class="div-elements">
        <input type="text " pInputTextarea placeholder="Descrição do Projeto"  maxlength="250" [(ngModel)]="descProjeto">
    </div>
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-3">
            <div *ngFor="let stats of status" class="field-checkbox">
                <p-radioButton 
                  [inputId]="stats.key" 
                  name="stats" 
                  [value]="stats" 
                  [(ngModel)]="statusSelecionado" />
                <label [for]="stats.key" class="ml-2">{{ stats.name }}</label>
              </div>
        </div>
    </div>
    <div class="div-elements">
        <p-button (onClick)="addProjeto()">Criar Projeto</p-button>
    </div>
  </div>
  </p-card>
</div>

  
    