<div *ngIf="projeto">
    <h3>Editar Projeto</h3>
    <input pInputText type="text" [(ngModel)]="projeto.nome" placeholder="Nome do projeto" />
    <input pInputTextarea [(ngModel)]="projeto.descprojeto" placeholder="Descrição do Projeto">
    <div *ngFor="let stats of statusOptions" class="field-checkbox">
      <p-radioButton [inputId]="stats.key" name="stats" [value]="stats" [(ngModel)]="projeto.Status"/>
      <label [for]="stats.key">{{ stats.name }}</label>
    </div>
    <p-button (click)="salvar()">Salvar</p-button>
    <p-button (click)="cancelar()">Cancelar</p-button>
  </div>